*{
    box-sizing:border-box;
}

/* Whole website */
body, header,nav,.main-wrapper,footer,.flex-container,.nav-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    margin:0;
    padding:0;
}

div {
    overflow: auto;
    background-color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55d2f5;
}

.site-div {
    width: 80%;
    border: 1px solid #e1e1ea;
    display: inline-flex;
    flex-wrap: wrap;
    margin:5px 0;
}


/* Header */
.header {
    display:flex;
    width:100%;
    margin: 0;
    padding: 10px;
    justify-content:space-around;
}

.logoimg1 {
    width: 15%;
    height: 200px;
    transition: none;
}
.logoimg1:hover {
    transform: none;
}
.logoimg2 {
    width: 70%;
    height: 200px;
    transition: none;
}
    .logoimg2:hover {
        transform: none;
    }



/* Navigation bar */
.navdiv {
    display: block;
    background-color: #333;
}
nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    nav ul li {
        display: block;
        float:left;
    }
        nav ul li a, .dropbtn {
            display: block;
            text-decoration: none;
            padding: 10px 10px;
            color: white;
            text-align: left;
        }

                    /* Change the link color on hover */
    nav ul li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




h1{
    text-align:center;
    font-size: 30px;
    color: black;
    font-family: Arial, sans-serif;
    border-bottom: 3px solid green;
    width: 400px;
    height: 70px;
}

p {
    display: block;
    font-size: 17px;
    padding: 5px;
    color: black;
}
.hbc{
    color:#81efdb;
    font-weight:bold;
}

.cross {
    display: block;
    width: 100%;
    height: auto;
    margin:10px;
}

.activnosti {
    background-color: greenyellow;
}


.fieldset {
    background-color: gainsboro;
    width: 100%;
    height: auto;
}
.buttons-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0
}
.sub-res {
    width: 100px;
    height: 40px;
}

.input-contact {
    width: 300px;
    font-size: 15px;
}

.textarea {
    width: 400px;
    font-size: 15px;
}
.img-slavenje {
    width: 200px;
    height: auto;
    transition: all 1s;
    padding:8px;
}
.img-slavenje:hover {
    transform: scale(1.1);
}
.img-contact{
    width: 100%;
    height: auto;
}



/* Main content of the website */
.main-wrapper {
    display: flex;
    flex-wrap: wrap;

}
main {
    display: flex;
    width: 65%;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid #cfcbcb;
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
}
.muzika{
    display: flex;
    flex-direction: column;
    width: 100%;
}
aside {
    display: flex;
    width: 35%;
}

.aside-right {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #cfcbcb;
    width: 100%;
    margin: 0;
    padding: 7px;
}

.aside-contact{
    display: flex;
    flex-direction: column;
}



/* Footer of the website */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footers {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #cfcbcb;
    width: 50%;
    height: 200px;
    color: #333;
    background-color: #ced9d9;
}









@media only screen and (max-width: 900px) {
    ul, main, aside, .footers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3px;

    }
.footers{
    border-bottom:2px solid #333;
}
.site-div{
    width: 90%;
}

    nav ul li, .dropdown {
        border: solid 1px #e1e1ea;
        width: 25%;
        float: left;
    }

    nav ul li a, .dropbtn {
            padding: 5px 15px;
        }

    .logoimg1 {
        width: 15%;
        height: 130px;
        padding: 1px;
        margin: 0;
    }

    .logoimg2 {
        width: 70%;
        height: 130px;
        padding: 1px;
        margin: 0;
    }

    img, .img-za-nas {
        margin: 0;
        padding: 5px;
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 23px;
    }
    footer{
        padding: 3px;
    }

    .footers{
        height: 100px;
    }

    .fieldset{
        width:100%;
        margin:10px;
        padding:15px;
    }
    .muzika{
    display: flex;
    flex-direction: column;
    width: 50%;
    }
 
} 





@media only screen and (max-width: 600px) {
    /* For mobile and tablets phones: */
    .flex-container {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .site-div {
        width: 99%;
        margin: 2px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main, aside{
        width: 100%;
        padding: 0;
        margin: 0;
}
    .main-content, .aside-right {
        margin: 0;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li, .dropdown {
        display: block;
        float: left;
        border: solid 1px #e1e1ea;
        width: 50%;
    }

        nav ul li a, .dropbtn {
            padding: 5px;
        }

    .logoimg1 {
        display: none;
    }

    .logoimg2 {
        width: 100%;
        height: 100px;
        padding: 1px;
        margin: 1px;
    }

    img,.img-za-nas {
        margin: 0;
        padding: 3px;
        width:70%;
        height:auto;
    }

    .cross {
        margin: 3px;
    }

    h1 {
        font-size: 20px;
        width: 90%;

    }

    p {
        font-size: 16px;
    }
    .fieldset {
        width: 95%;
        padding: 5px;
        margin: 0;
    }
    .textarea {
        width: 95%;
        padding: 0;
        margin: 0;
    }
    .input-contact {
        width: 95%;
        padding: 0;
        margin: 0;
        height: 30px;
    }
        .muzika{
    display: flex;
    flex-direction: column;
    width:100%;
}
}
