.propovedi ul li a {
    text-decoration: none;
    color: black;
    padding:3px;
}

.propovedi ul li {
    padding: 5px;
    border-bottom:1px solid green;
}

.propovedi ul li a:hover {
        background-color: darkgreen;
        color: white;
    }
.propovedi ul{
    list-style-type:square;
}
.cermon-links{
    font-size:20px;
    font-family: Courier New, Courier, monospace;
    font-weight:bolder;
}


@media only screen and (max-width: 600px) {
    /* For mobile and tablets phones: */

    aside div ul li a {
        font-size: 15px;
    }
}