
main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-content {
    border-right: none;
    width: 100%;
    padding: 20px;
    float: left;
    margin-bottom: 10px;
}

.img-za-nas{
    width:500px;
    height:auto;
}

@media only screen and (max-width: 600px) {
    /* For mobile and tablets phones: */
  
.main-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-content {
    border-right: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.img-za-nas{
    width:100%;
    height:auto;
}
}