.main-content-abt-us {
    border-right: 2px solid #cfcbcb;
    width: 100%;
    padding: 20px;
    float: left;
    margin-bottom: 10px;
}
.za nas {
    font-family:'Times New Roman';
    font-size:22px;
    background-color: #b6ff00;
}

.img-za-nas{
    width:500px;
    height:auto;
    display:block;
}

@media only screen and (max-width: 768px) {
    /* For mobile and tablets phones: */
    body, .navdiv, ul, .site-div, .main-content, .aside-right, .footers {
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
        display: block;
        margin-bottom: 5px;
    }



    nav ul li {
        display: block;
        float: left;
        border: solid 1px #e1e1ea;
        width: 50%;
    }

        nav ul li a {
            padding: 5px;
        }

    .logoimg1 {
        display: none;
    }

    .logoimg2 {
        width: 100%;
        height: 100px;
        padding: 1px;
        margin: 0;
    }

    img, .img-za-nas {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .cross {
        margin: 0;
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 17px;
    }